<div class="have__col">
    <div class="weHas have__item">
        <div class="have__top">
            <img src="img/smile2.svg" alt="">
            <span>Что имеем...</span>
        </div>
        <div class="have__desc body-text">Не понятный (не детализированный) и высокий тариф (относительно качества оказываемых услуг)</div>
    </div>
</div>
<div class="have__col">
    <div class="weWant have__item have__item--yellow">
        <div class="have__top">
            <img src="img/smile2.svg" alt="">
            <span>К чему стремимся!</span>
        </div>
        <div class="have__desc body-text">Прозрачный и детализированный тариф, закрепленный в договоре с УК. Возможность управлять включенными услугами</div>
    </div>
</div>
